.dog img {
	width: 90%;
	border-radius: 20px;
	padding: 10px;
}

.dog {
	border: 2px solid lightblue;
	border-radius: 20px;
	padding-bottom: 10px;
	background: rgb(243, 31, 31);
	background: linear-gradient(
		90deg,
		rgba(243, 31, 31, 1) 0%,
		rgba(21, 233, 227, 1) 50%,
		rgba(243, 31, 31, 1) 100%
	);
}

.dog button {
	padding: 10px 15px;
	background-color: lightblue;
	border-radius: 20px;
}

.modalPopup {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ModalPopup {
	position: relative;
	width: 50%;
	margin-inline: auto;
	margin-block-start: 10%;
	height: 30%;
	background-color: papayawhip;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid green;
	border-radius: 10px;
	box-shadow: 3px 3px 4px green;
	background: pink;
}
