.dog img {
	width: 90%;
	border-radius: 20px;
	padding: 10px;
}

.ModalPopup {
	position: relative;
	width: 50%;
	margin-inline: auto;
	margin-block-start: 10%;
	height: 30%;
	background-color: papayawhip;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid green;
	border-radius: 10px;
	box-shadow: 3px 3px 4px green;
	background: pink;
}

.ModalPopup form {
	display: block;
}
.ModalPopup label {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	padding-inline: 10px;
}
.ModalPopup label input {
	padding-block: 4px;
}
.ModalPopup label span {
	padding-right: 10px;
}

.ModalPopup form div {
	display: flex;
	justify-content: space-evenly;
}
