.App {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.galleryWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 5vw;
	margin-right: 5vw;
	width: auto;
	flex-wrap: wrap;
}
.galleryWrapper div {
	height: auto;
	width: 30%;
	padding: 20px;
}

.galleryWrapper div img {
	height: 200 px;
	width: 200 px;
}

.dogoInput {
	margin-top: 10vh;
	margin-bottom: 10vh;
	padding: 10px;
	border: 1px solid black;
	width: 50%;
	align-self: center;
	display: flex;
}

.dogoInput input {
	padding: 5px;
}
.dogoInput span {
	padding: 5px;
}
.dogoInput button {
	padding: 5px;
	margin-left: 10px;
}
