.dogForm {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	width: 50%;
	align-self: center;
}
.dogForm form {
	display: block;
}
.dogForm form label {
	display: flex;
	justify-content: space-between;
	margin-inline: 10%;
	margin-block: 10px;
}

.dogForm input {
	padding-block: 4px;
	max-width: 60%;
	min-width: 40%;
}
.dogForm span {
	padding: 5px;
}
