.dogForm {
	margin-top: 10vh;
	margin-bottom: 10vh;
	padding: 10px;
	border: 1px solid black;
	width: 50%;
	align-self: center;
	display: flex;
}

.dogForm input {
	padding: 5px;
}
.dogForm span {
	padding: 5px;
}
.dogForm button {
	padding: 5px;
	margin-left: 10px;
}
